body {
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
}

.card {
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-edit {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-edit:hover {
    background-color: darkorange;
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-delete:hover {
    background-color: darkred;
}
